<!-- head -->
{% extends 'Base.html' %} {% block head %}
<title>
    Appointments
</title>

{% endblock %}
<!-- body -->
{% block body %}
<div class="centerDiv">
    <div class="forms">
        <h2>
            Appointments
        </h2>
        <hr>
        <p class="required">

        </p>
        {% if appointmentData %}
        <h3>
            Sorry {{appointmentData['name']}} is bussy for that time
        </h3>
        <div class="centerDiv">
            <a href="/appointments" class="button">Look for diffrent time</a>
        </div>
        {% else %}
        <h3>
            Appointment avialable
        </h3>

        <p>
            Want to book?
        </p>
        <a href="/bookAppointment/{{bookData[0]}}/{{bookData[1]}}/{{bookData[2]}}" class="button">Confirm Booking</a> {% endif %}

    </div>

</div>{% endblock %}