<!-- head -->
{% extends 'Base.html' %} {% block head %}
<title>
    Appointments
</title>

{% endblock %}
<!-- body -->
{% block body %}
<div class="centerDiv">
    <div class="forms" style="width: 100%;">
        <h2>
            Appointments
        </h2>
        <hr>
        <p class="required">

        </p>
        {% if appointmentData %}
        <h3>
            Sorry {{appointmentData['name']}} is bussy for that time
        </h3>
        <a href="/appointments" class="button">Look for diffrent time</a> {% else %} {% endif %}

    </div>

</div>{% endblock %}