<!-- head -->
{% extends 'Base.html' %} {% block head %}
<title>
    Appointments
</title>

{% endblock %}
<!-- body -->
{% block body %}
<div class="centerDiv">
    <div class="forms">
        <h2>
            Appointments
        </h2>
        <hr>
        <p class="required">

        </p>
        <form method="post">
            <label for="sid">Whom do you want to see <small>*</small></label>
            <input type="text" name="sid" list="docNameId" required placeholder="Id of the doctor">
            <datalist id="docNameId">
                {% for i in staffData %} 
                <option value="{{i['sid']}}">{{i['name']}}</option>
                {%endfor%}
            </datalist>
            <label for="date">Choose the date <small>*</small></label>
            <input type="date" , name="date" required>
            <label for="time">What time are you looking for <small>*</small></label>
            <input type="time" , name="time" step="900" min="09:00" max="17:00" formtarget="12" required>

            <input type="submit" class="button" value="Check for appointment">
        </form>
    </div>

</div>{% endblock %}