<!-- head -->
{% extends 'Base.html' %} {% block head %}
<title>
    Cart
</title>

{% endblock %}
<!-- body -->
{% block body %}

<h2 style="margin-top:50px;">
    Your Cart
</h2>
<hr>
<div class="features">{% for item in items %} {% include '/includes/cartItem.html' %} {% endfor %}
    
</div>


<div class="cart-total">
   <p>
        <span>Total Price</span>
        <span>INR 450</span>
    </p>
    <p>
        <span>Number of Items</span>
        <span>2</span>
    </p>
    <p>
        <span>You Save</span>
        <span>INR 100</span>
    </p>
    <a href="/payment">Proceed to Checkout</a>
</div>

{% endblock %}