<!-- head -->
{% extends 'Base.html' %} {% block head %}
<title>
    Home
</title>

{% endblock %}
<!-- body -->
{% block bBody %}
<div class="heroDiv">
    <img class="homePageHero" src="/static/images/homePageHero.jpg" alt="">

    <div class="redTint">

    </div>
    <div class="heroText">
        <h1>
            We Are here at your service
        </h1>
        <p>
            CU HealthCare is an Indian multinational healthcare group headquartered in Punjab. Apart from the eponymous hospital chain, the company also operates pharmacies, primary care and diagnostic centres, and telehealth clinics through its subsidiaries.
        </p>
        <div class="heroButtons">
            <a class="button" href="/staffLogin">Staff</a>
            <a class="button" href="/patientRegister">Patient</a>
        </div>
    </div>

</div>
{% endblock %} {% block body %}
<div class="features">
    <section>
        <img src="/static/images/appointment.png" style="margin-left: 50px;" width="68%" alt="">
        <h3>
            Appointment Booking
        </h3>
        <p>
            Eliminate scheduling hassle with online scheduling that includes 24x7 online bookings
        </p>
        <a href="/appointments" class="button">Book</a>
    </section>
    <section>
        <img src="/static/images/billing.png" style="margin-left: 50px;" width="68%" alt="">
        <h3>
            Billing Details
        </h3>
        <p>
            Get your billing history here without any hussle
        </p>
        <a href="#" class="button">Your bills</a>
    </section>
    <section>
        <img src="/static/images/store.png" style="margin-left: 50px;" width="68%" alt="">
        <h3>
            Store
        </h3>
        <p>
            Order your medication 24x7
        </p>
        <a href="/store" class="button">Buy Medicines</a>
    </section>
    <section>
        <img src="/static/images/reports.png" style="margin-left: 50px;" width="68%" alt="">
        <h3>
            Your Reports
        </h3>
        <p>
            Catch Up on your previous reports
        </p>
        <a href="#" class="button">See Reports</a>
    </section>
</div>

<footer class="footer-distributed">

    <div class="footer-left">
        <h3>CU<span>HealthCare</span></h3>

        <p class="footer-links">
            <a href="#">Home</a>
            |
            <a href="#">About</a>
            |
            <a href="#">Contact</a>
            |
            <a href="#">Blog</a>
        </p>

        <p class="footer-company-name">Copyright © 2022 <strong>CU HealthCare</strong> All rights reserved</p>
    </div>

    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Chandigarh University</span>
                Chandigarh</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+91 74**9**201</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="@gmail.com">preans1412@gmail.com</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>About the Hospital</span>
            <strong>CU HealthCare</strong> is a Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias perferendis, harum architecto minus ullam ipsum dolores at exercitationem ea esse porro! Reprehenderit recusandae nemo beatae, sint voluptates cum rerum repellat?
        </p>
        <div class="footer-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
        </div>
    </div>
</footer>

{% endblock %}