<!-- head -->
{% extends 'Base.html' %} {% block head %}
<title>
    Home
</title>

{% endblock %}
<!-- body -->
{% block bBody %}
<div class="heroDiv">
    <img class="homePageHero" src="/static/images/homePageHero.jpg" alt="">

    <div class="redTint">

    </div>
    <div class="heroText">
        <h1>
            We Are here at your service
        </h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia facere repellat eveniet, dolorem sed voluptas veniam odit debitis velit aspernatur qui. Iure recusandae accusamus ad porro minima laboriosam. Quas quo id
        </p>
        <div class="heroButtons">
            <a class="button" href="/staffLogin">Staff</a>
            <a class="button" href="/patientRegister">Patient</a>
        </div>
    </div>

</div>
{% endblock %} {% block body %}
<div class="features">
    <section>
        <img src="/static/images/appointment.png" style="margin-left: 50px;" width="68%" alt="">
        <h3>
            Appointment Booking
        </h3>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque voluptate
        </p>
        <a href="#" class="button">Book</a>
    </section>
    <section>
        <img src="/static/images/billing.png" style="margin-left: 50px;" width="68%" alt="">
        <h3>
            Billing Details
        </h3>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque voluptate
        </p>
        <a href="#" class="button">Your bills</a>
    </section>
    <section>
        <img src="/static/images/reports.png" style="margin-left: 50px;" width="68%" alt="">
        <h3>
            Your Reports
        </h3>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque voluptate
        </p>
        <a href="#" class="button">See Reports</a>
    </section>
</div>
{% endblock %}