<!-- head -->
{% extends 'Base.html' %} {% block head %}
<title>
    Patient Login
</title>

{% endblock %}
<!-- body -->
{% block body %}
<div class="centerDiv">
    <div class="forms">
        <h2 style="display: flex; flex-direction:row;">

            <div class="logo">
                <h2>Welcome to CU <span>HealthCare</span> </h2>
            </div>
        </h2>
        <hr>
        <p class="required">
        </p>
        <form method="post">

            <label for="email">Email <small>*</small></label>
            <input type="email" name="email" required>

            <label for="password">Password <small>*</small></label>
            <input type="password" name="password" required>

            <input type="submit" class="button" value="Login">
            <div class="row">
                <p>Don't have an account? </p>
                <a href="/patientRegister">Register</a></div>

        </form>
    </div>
</div>{% endblock %}