<!-- head -->
{% extends 'Base.html' %} {% block head %}
<title>
    Patient Register
</title>

{% endblock %}
<!-- body -->
{% block body %}
<div class="forms">
    <h2>
        Hey, {{patientData['name']}}
    </h2>
    <hr>
    <p>
        Your current information
    </p>
    <p>
        Patient Id :- {{patientData['pid']}}
    </p>
    <p>
        Age :- {{patientData['age']}}
    </p>
    <p>
        Address :- {{patientData['address']}}
    </p>
    <p>
        Blood Group :- {{patientData['blood_group']}}
    </p>
    <p>
        Father Name :- {{patientData['father_name']}}
    </p>
</div>
<div class="vitals">
    {% for vitalData in vitalsData %}
    <p>
        Your current information
    </p>
    <p>
        Temprature :- {{vitalData['temp']}}
    </p>
    <p>
        Pulse :- {{vitalData['pulse']}}
    </p>
    <p>
        Blood Pressure :- {{vitalData['blood_pressure']}}
    </p>
    <p>
        Respiratory Rate :- {{vitalData['resp_rate']}}
    </p>
    <p>
        Blood Oxygen :- {{vitalData['spo2']}}
    </p>
    <p>
        weight :- {{vitalData['weight']}}
    </p>
    {% endfor %}
</div>
{% endblock %}