<!-- head -->
{% extends 'Base.html' %} {% block head %}
<title>
    Dashboard
</title>

{% endblock %}
<!-- body -->
{% block body %}
<div class="dashrow">
    <div>
        <div class="forms">
            <h2>
                Hey, {{patientData['name']}}
            </h2>
            <hr>
            <p>
                Your current information
            </p>
            <p>
                Patient Id :- {{patientData['pid']}}
            </p>
            <p>
                Age :- {{patientData['age']}}
            </p>
        </div>
        <div class="forms">
            <div>
                <canvas id="bloodpressure">

                </canvas>
            </div>
        </div>
        <div class="forms">
            <div>
                <canvas id="pulse">

        </canvas>
            </div>
        </div>
        <div class="forms">
            <div>
                <canvas id="spo2">

        </canvas>
            </div>
        </div>
    </div>
    <DIV style="width:30vw">
        <div class="appointmentTable">
            <h2>
                Appointments
            </h2>
            <hr> <br>
            <table>
                <tr>
                    <th>
                        App Id
                    </th>
                    <th>
                        Doctor Name
                    </th>
                    <th>
                        Time
                    </th>
                </tr>{% for appointment in appointments %}
                <tr>
                    <td>{{appointment['app_id']}}</td>
                    <td>{{appointment['staff.name']}}</td>
                    <td>{{appointment['date_time']}}</td>
                </tr>
                {% endfor %}
            </table>

        </div>

    </DIV>
</div>
</div>
<script src=" https://cdn.jsdelivr.net/npm/chart.js "></script>

<script>
    function bloodpressure(vdata) {
        vdata = JSON.parse(vdata)
        lables = []
        Data = []

        for (i in vdata) {
            let date = new Date(vdata[i]['datetime']);
            lables[i] = date.getDate() + "/ " + date.getMonth()
            Data[i] = Number(vdata[i]['blood_pressure'])

        }
        console.log(Data)
        const data = {
            labels: lables,

            datasets: [{
                label: 'Blood  Pressure',
                backgroundColor: '#d90427dc',
                borderColor: "#d90427dc ",
                data: Data,
            }]
        };

        const config = {
            type: 'bar',
            data: data,
            options: {}
        };
        const bloodpressure = document.getElementById('bloodpressure').getContext('2d')
        const myChart = new Chart(
            bloodpressure,
            config
        );
    }
    bloodpressure('{{vitalsData|tojson}}');

    function pulse(vdata) {
        vdata = JSON.parse(vdata)
        lables = []
        Data = []

        for (i in vdata) {
            let date = new Date(vdata[i]['datetime']);
            lables[i] = date.getDate() + "/ " + date.getMonth()
            Data[i] = Number(vdata[i]['pulse'])

        }
        console.log(Data)
        const data = {
            labels: lables,

            datasets: [{
                label: 'pulse',
                backgroundColor: '#00960ddc',
                borderColor: "#00960ddc ",
                fill: '#00960ddc',
                data: Data,

            }]
        };

        const config = {
            type: 'line',
            data: data,
            options: {}
        };
        const pulse = document.getElementById('pulse').getContext('2d')
        const myChart = new Chart(
            pulse,
            config
        );
    }
    pulse('{{vitalsData|tojson}}');

    function spo2(vdata) {
        vdata = JSON.parse(vdata)
        lables = []
        Data = []

        for (i in vdata) {
            let date = new Date(vdata[i]['datetime']);
            lables[i] = date.getDate() + "/ " + date.getMonth()
            Data[i] = Number(vdata[i]['spo2'])

        }
        console.log(Data)
        const data = {
            labels: lables,

            datasets: [{
                label: 'spo2',
                backgroundColor: '#0444d9dc',
                borderColor: "#0444d9dc ",
                fill: '#0444d9dc',
                data: Data,

            }]
        };

        const config = {
            type: 'line',
            data: data,
            options: {
                responsive: true,
            }
        };
        const spo2 = document.getElementById('spo2').getContext('2d')
        const myChart = new Chart(
            spo2,
            config
        );
    }
    spo2('{{vitalsData|tojson}}');
</script>
{% endblock %}