<!-- head -->
{% extends 'staffBase.html' %} {% block head %}
<title>
    Patient Register
</title>

{% endblock %}
<!-- body -->
{% block body %}
<div class="centerDiv">
    <div class="forms">
        <h2>
            Add Vitals
        </h2>
        <hr>
        <p class="required">
        </p>
        <form method="post">
            <label for="pid">Patient Id <small>*</small></label>
            <input type="number" name="pid" required>

            <label for="temp">Temprature <small>*</small></label>
            <input type="text" name="temp" required>

            <label for="bp">Blood Pressure <small>*</small></label>
            <input type="text" name="bp" required>

            <label for="rr">Respiratory Rate <small>*</small></label>
            <input type="text" name="rr" required>

            <label for="spo2">SpO2 <small>*</small></label>
            <input type="text" name="spo2" required>

            <label for="weight">Weight <small>*</small></label>
            <input type="text" name="weight" required>

            <label for="pulse">pulse <small>*</small></label>
            <input type="text" name="pulse" required>

            <input type="submit" class="button" value="Register">
        </form>
    </div>
</div>
{% endblock %}