<!-- head -->
{% extends 'staffBase.html' %} {% block head %}
<title>
    Patient Login
</title>

{% endblock %}
<!-- body -->
{% block body %}
<div class="centerDiv">
    <div class="forms">
        <h2>
            Login
        </h2>
        <hr>
        <p class="required">
            Lables Followed by '*' are required to fill
        </p>
        <form method="post">

            <label for="email">Email *</label>
            <input type="email" name="email" required>

            <label for="password">Password *</label>
            <input type="password" name="password" required>

            <input type="submit" class="button" value="Login">
        </form>
    </div>
</div>
{% endblock %}