<!-- head -->
{% extends 'staffBase.html' %} {% block head %}
<title>
    Patient Register
</title>

{% endblock %}
<!-- body -->
{% block body %}
<div class="centerDiv">
    <div class="forms">
        <h2>
            Register
        </h2>
        <hr>
        <p class="required">
        </p>
        <form method="post">
            <label for="name">Name <small>*</small></label>
            <input type="text" name="name" required>

            <label for="email">Email <small>*</small></label>
            <input type="email" name="email" required>

            <label for="password">Password <small>*</small></label>
            <input type="password" name="password" required>

            <label for="desg">Designation <small>*</small></label>
            <input type="text" name="desg" required>

            <label for="number">Phone Number <small>*</small></label>
            <input type="text" name="number" required>

            <label for="address">Address </label>
            <input type="text" name="address">

            <input type="submit" class="button" value="Register">
        </form>
    </div>
</div>
{% endblock %}