<!-- head -->
{% extends 'Base.html' %} {% block head %}
<title>
    Store
</title>

{% endblock %}
<!-- body -->
{% block body %}
<div class="store">
    <h2 style="margin-top:40px;">
        Store
    </h2>
    <div class="search">

        <form method="post" class="box">
            <input type="text" name="search" placeholder="search">
            <input type="submit" class="" value="🔎">
        </form>
    </div>
</div>
<hr>

<!-- search part-->



<div class="features">{% for item in items %} {% include '/includes/storeItem.html' %} {% endfor %}
</div>



{% endblock %}