<!-- head -->
{% extends 'Base.html' %} {% block head %}
<title>
    Store
</title>

{% endblock %}
<!-- body -->
{% block body %}
<div class="store">
    <h2 style="margin-top:40px;">
        Store
    </h2>
    <div style="display: flex; ">

        <div class="search">

            <form method="post" class="box">
                <input type="text" name="search" placeholder="search">
                <input type="submit" class="" value="🔎">
            </form>
        </div> <a href="/cart" style="margin-left: 20px; font-size: 1.3rem;">🛒 Cart</a>
    </div>
</div>
<hr>

<!-- search part-->



<div class="features">{% for item in items %} {% include '/includes/storeItem.html' %} {% endfor %}
</div>



{% endblock %}