<div class="storeitem">
    <img src="/static/images/store/{{item['image']}}" style="margin-left: 50px;" width="68%" alt="">
    <h3>
        {{item['name']}}
    </h3>
    <div>
        <p>
            Price - INR {{item['price']}}
        </p>

    </div>
    <form method="post">
        <input type="number" name="qty" placeholder="Quantity"  required>
        <input type="number" name="item_id" style="display: none; " value="{{item['item_id']}}">
        <input type="submit" value="add to cart">
    </form>

</div>