<div class="storeitem" id="{{item['item_id']}}">
    <img id="img_{{item['item_id']}}" src="/static/images/store/{{item['image']}}" style="margin-left: 50px;" width="68%" alt="">
    <h2 id="name_{{item['item_id']}}">
        {{item['name']}}
    </h2>
    <div class="itemDetails" id="id_{{item['item_id']}}">
        <div class="item">
            <img id="img_{{item['item_id']}}" src="/static/images/store/{{item['image']}}">

            <div class="details">
                <div class="closeFlex">
                    <div>
                        <h2 id="name_{{item['item_id']}}">
                            {{item['name']}}
                        </h2>
                        <p>
                            ₹ {{item['price']}}
                        </p>
                        <form method="post">


                            <input type="number" class="qty_details" placeholder="Qty" value="1" name="qty" required>



                            <input type="number" name="item_id" style="display: none; " value="{{item['item_id']}}">
                            <input type="submit" class="button" value="Add to cart">
                        </form>
                    </div>
                    <h3 class="close" id="close_{{item['item_id']}}">
                        X
                    </h3>
                </div>
                <h3>
                    Drug details
                </h3>
                <p>
                    Ecosprin 75 tablet is an antiplatelet medicine (blood thinner). It contains aspirin as its active ingredient. Ecosprin 75 is used to prevent the formation of blood clots. This helps reduce the risk of heart attacks, stroke and angina due to blood clots.
                    Blood clots are one of the factors that can cause heart attacks, stroke and other critical health conditions. Blood clots can limit or block the passage of blood to important organs that can result in a heart attack or stroke. It works

                </p>
            </div>
        </div>
    </div>
    <form method="post">

        <div class="priceQty">
            <input type="number" class="qty" placeholder="Qty" value="1" name="qty" required>

            <p>
                ₹ {{item['price']}}
            </p>

        </div>

        <input type="number" name="item_id" style="display: none; " value="{{item['item_id']}}">
        <input type="submit" class="button" value="Add to cart">
    </form>

    <script>
        function addRemove(id) {
            let item = document.getElementById(id)
            let itemDetails = document.getElementById("id_" + id)

            let close = document.getElementById("close_" + id)
            item.addEventListener("click", () => {
                itemDetails.style = "display:block;"

            })
            close.addEventListener(
                'mouseover',
                () => {
                    itemDetails.style = "display:none;"

                }
            )


        }

        addRemove("{{item['item_id']}}")
    </script>

</div>